<!DOCTYPE html >
<html lang="en" ng-app="codecraft">
<head>
    <title>Lists Of Things</title>
    <link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="/">Lists Of Things
            </a>
        </div>
    </div>
</nav>

<div class="container main-content" ng-controller="PersonsController">

    <div class="row">
        <div class="md-col-12">
            <form class="form-inline well well-lg">
                <span class="glyphicon glyphicon-search"></span>
                <div class="form-group">
                    <input ng-model="search" type="text" class="form-control" id="search" placeholder="Search ..." />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                </tr>
                <tr ng-repeat="person in persons | filter: sensitiveSearch"
                    ng-style="{
                'background-color': $index == selectedIndex ? '#f7f7f7' : ''
            }"
                    ng-click="selectPerson(person, $index)">
                    <td>{{ $index+1 }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.birthdate | date:"longDate" }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Detailed Information</div>
                <div class="panel-body">
                    <dl>
                        <dd>Name</dd>
                        <dt>{{ selectedPerson.name }}</dt>
                        <dd>Email</dd>
                        <dt>{{ selectedPerson.email }}</dt>
                        <dd>Birthday</dd>
                        <dt>{{ selectedPerson.birthdate | date:"longDate" }}</dt>
                        <dd>Phone</dd>
                        <dt>{{ selectedPerson.phonenumber }}</dt>
                        <dd>Address</dd>
                        <dt>{{ selectedPerson.address }}</dt>
                        <dd>City</dd>
                        <dt>{{ selectedPerson.city }}</dt>
                        <dd>Country</dd>
                        <dt>{{ selectedPerson.country }}</dt>
                    </dl>
                </div>
            </div>
            <!-- pre>{{ search }}</pre -->
        </div>
    </div>

</div>

<script src="../libs/angular/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>