body {
    padding-top: 50px;
}

.main-content {
    padding: 40px 15px;
}

.spinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 40px 0;
}

.spinner label {
    margin: 25px 0 0 0;
}

.profile-photo {
    width: 30px;
    height: 30px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}

.modal-backdrop.am-fade.ng-enter {
    opacity: 0;
}

.modal-backdrop.am-fade.ng-enter.ng-enter-active {
    opacity: .5;
}

.modal-backdrop.am-fade.ng-leave {
    opacity: .5;
}

.modal-backdrop.am-fade.ng-leave.ng-leave-active {
    opacity: 0;
}
