<table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">
    <tr>
        <th class="col-sm-1">#</th>
        <th class="col-sm-4">Name
            <div class="sortables pull-right">
                <span ng-click="order = 'name'" class="fa fa-sort-asc"></span>
                <span ng-click="order = '-name'" class="fa fa-sort-desc"></span>
            </div>
        </th>
        <th class="col-sm-4">Email
            <div class="sortables pull-right">
                <span ng-click="order = 'email'" class="fa fa-sort-asc"></span>
                <span ng-click="order = '-email'" class="fa fa-sort-desc"></span>
            </div>
        </th>
        <th class="col-sm-3">Phone number</th>
    </tr>
    <tr ng-repeat="person in filteredPersons = (contacts.persons)"
        ng-style="{'background-color': person.email == contacts.selectedPerson.email ? '#f7f7f7' : '' }"
        ng-click="contacts.selectedPerson = person"
        ui-sref="edit({email:person.email})">
        <td class="col-sm-1"><img ng-src="{{ person.photo | defaultImage:'avatar.png' }}"
                                  alt="{{person.name}}" title="{{person.name}}"
                                  class="img-circle img-responsive profile-photo"/></td>
        <td class="col-sm-4">{{ person.name }}</td>
        <td class="col-sm-4">{{ person.email }}</td>
        <td class="col-sm-3">{{ person.phonenumber }}</td>
    </tr>
</table>

<div class="alert alert-info" ng-show="contacts.persons.length == 0 && !contacts.isLoading">
    No results for '<b>{{ contacts.search }}</b>'
</div>

<!--
ccSpinner = cc-spinner
<div cc-spinner> A/ttribute
<div class="cc-spinner"> C/lass
<cc-spinner></cc-spinner> E/lement
Restrict AEC for all
-->
<cc-spinner is-loading="contacts.isLoading">
    <span>Loading......</span>
</cc-spinner>